body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

a {
  text-decoration: none;
  color: #000;
}

img, svg {
  max-width: 100%;
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
}

.call, .burg, .burg-menu {
  display: none;
}

.header {
  padding: 22px 0;
  display: flex;
  justify-content: space-around;
}
.header-item {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.header-item:last-child {
  gap: 24px;
}
.header .nav {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header .nav-item:hover {
  border-bottom: 1px solid;
  transform: translateY(1px);
}
.header .tel {
  font-size: 14px;
}
.header-btn {
  padding: 8px 24px;
  color: #E97522;
  font-size: 12px;
  border: 2px solid #E97522;
  border-radius: 10px;
  transition: 0.3s;
}
.header-btn:hover {
  background-color: #E97522;
  color: #fff;
}
.header-btn:active {
  transform: scale(0.95);
}

@media screen and (max-width: 1024px) {
  .header-item {
    font-size: 12px;
  }
  .header-item:last-child {
    align-items: end;
    flex-direction: column-reverse;
    gap: 8px;
  }
  .header .nav {
    gap: 24px;
  }
  .header .logo {
    min-width: 113px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding: 8px 16px;
    justify-content: space-between;
    position: relative;
  }
  .header-item:nth-child(2) {
    display: none;
  }
  .header-item:last-child {
    gap: 16px;
    align-items: center;
    flex-direction: row;
  }
  .header-btn {
    display: none;
  }
  .header .call, .header .burg {
    display: block;
  }
  .header .burg-menu {
    box-sizing: border-box;
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(15, 15, 15, 0.6980392157);
    display: block;
    width: 0;
    transition: all 0.3s ease;
  }
  .header .burg-menu .nav {
    margin: 16px;
    font-size: 14px;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    flex-direction: column;
    gap: 16px;
  }
  .header .burg-menu .nav-item {
    color: #fff;
  }
  .header .burg-menu.show {
    width: 100vw;
  }
  .header .logo {
    min-width: 75px;
    max-width: 90px;
  }
}
@media screen and (max-width: 768px) and (max-width: 500px) {
  .header .header-item:last-child {
    gap: 8px;
  }
  .header .logo {
    min-width: 63px;
    max-width: 75px;
  }
}